{% extends 'IMS/base.html' %}

<!-- Load Crispy Forms -->
{% load crispy_forms_filters %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
          <div class="col">
            <h4>Password Reset</h4>
            <hr>
            <form action="" method="post">
              {% csrf_token %}
              {{ form | crispy }}
              <br>
            <input class="btn btn-sm btn-primary" type="submit" name="Request Password Reset" />
            </form>
        </div>
        </div>
      </div>
{% endblock %}