{% extends 'IMS/base.html' %}

{% block content %}

<br>

<!-- First Row - Supplier & Customer List -->
<div class="container">
    <div class="row">
      <div class="col">
        <!-- Supplier List -->
        <h4>SUPPLIERS</h4> 
        <hr>
        <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th style="text-align:center">ID</th>
                <th style="text-align:center">Supplier Name</th>
                <th style="text-align:center">Telephone</th>
                <th style="text-align:center">Email</th>
              </tr>
            </thead>
            <tbody>
            {% for supplier in suppliers %}
              <tr>
                <th scope="row" style="text-align:center">{{supplier.id}}</th>
                <td style="text-align:center"><a href = "{{supplier.OnlineShopURL}}"> {{supplier.SupplierName}}</a></td>
                <td style="text-align:center">{{supplier.Telephone}}</td>
                <td style="text-align:center">{{supplier.EmailAddress}}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
      </div>

      <div class="col">
        <!-- Customer List -->
        <h4>CUSTOMERS</h4> 
        <hr>
        <table class="table table-hover table-dark">
          <thead>
            <tr>
              <th style="text-align:center">ID</th>
              <th style="text-align:center">Customer Name</th>
              <th style="text-align:center">Telephone</th>
              <th style="text-align:center">Email</th>
            </tr>
          </thead>
          <tbody>
          {% for customer in customers %}
            <tr>
              <th scope="row" style="text-align:center">{{customer.id}}</th>
              <td style="text-align:center">{{customer.CustomerName}}</td>
              <td style="text-align:center">{{customer.Telephone}}</td>
              <td style="text-align:center">{{customer.EmailAddress}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>

<!-- Second Row - Product Category & Product List -->
<div class="container">
  <div class="row">
    <div class="col-4">
      <!-- Product Category List -->
      <h4>PRODUCT CATEGORIES</h4> 
      <hr>
      <table class="table table-hover table-dark">
          <thead>
            <tr>
              <th style="text-align:center">ID</th>
              <th style="text-align:center">Product Category</th>
              <th style="text-align:center">Total Product</th>
            </tr>
          </thead>
          <tbody>
          {% for category in categories %}
            <tr>
              <th scope="row" style="text-align:center">{{category.id}}</th>
              <td style="text-align:center">{{category.ProductCategory}}</td>
              <td style="text-align:center">{{category.product_count}}</td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>

    <div class="col-8">
      <!-- Product List -->
      <h4>PRODUCTS</h4> 
      <hr>
      <table class="table table-hover table-dark">
          <thead>
            <tr>
              <th style="text-align:center">ID</th>
              <th style="text-align:center">Product Name</th>
              <th style="text-align:center">Product Category</th>
              <th style="text-align:center">Description</th>
              <th style="text-align:center">Image</th>
            </tr>
          </thead>
          <tbody>
          {% for product in products %}
            <tr>
              <th scope="row" style="text-align:center">{{product.id}}</th>
              <td style="text-align:center">{{product.ProductName}}</td>
              <td style="text-align:center">{{product.ProductCategory}}</td>
              <td style="text-align:center">{{product.ProductDescription}}</td>
              <td style="text-align:center"><img class="rounded-circle article-img" src = "{{ product.ProductImage.url }}" alt = "{{ product.ProductName}}" height="100"></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
</div>
{% endblock %}