{% extends 'IMS/base.html' %}

{% block content %}

<br>

<!-- First Row - Supplier & Customer List -->
<div class="container">
    <div class="row">
      <div class="col">
        <!-- Supplier List -->
        <h4>Suppliers</h4> 
        <hr>
        <a
          class="btn btn-primary btn-sm btn-block"
          href="{% url 'IMS-supplier_register' %}"
          >Register Supplier</a
        >
        <br><br>
        <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th style="text-align:center">Supplier Name</th>
                <th style="text-align:center">Telephone</th>
                <th style="text-align:center">Email</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            {% for supplier in suppliers %}
              <tr>
                <td style="text-align:center"><a href = "{{supplier.OnlineShopURL}}"> {{supplier.SupplierName}}</a></td>
                <td style="text-align:center">{{supplier.Telephone}}</td>
                <td style="text-align:center">{{supplier.EmailAddress}}</td>
                <td>
                  <a
                  class="btn btn-primary btn-sm btn-block"
                  href="{% url 'IMS-supplier_detail' supplier.id %}"
                  >Detail</a
                  >
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
      </div>

      <div class="col">
        <!-- Customer List -->
        <h4>Customers</h4> 
        <hr>
        <a
          class="btn btn-primary btn-sm btn-block"
          href="{% url 'IMS-customer_register' %}"
          >Register Customer</a
        >
        <br><br>
        <table class="table table-hover table-dark">
          <thead>
            <tr>
              <th style="text-align:center">Customer Name</th>
              <th style="text-align:center">Telephone</th>
              <th style="text-align:center">Email</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {% for customer in customers %}
            <tr>
              <td style="text-align:center">{{customer.CustomerName}}</td>
              <td style="text-align:center">{{customer.Telephone}}</td>
              <td style="text-align:center">{{customer.EmailAddress}}</td>
              <td><a 
                class = "btn btn-primary btn-sm btn-block" 
                href="{% url 'IMS-customer_detail' customer.id %}">Detail</a
                >
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>

<!-- Second Row - Product Category & Product List -->
<div class="container">
  <div class="row">
    <div class="col-4">
      <!-- Product Category List -->
      <h4>Product Categories</h4> 
      <hr>
      <a
          class="btn btn-primary btn-sm btn-block"
          href="{% url 'IMS-category_register' %}"
          >Register Category</a
      >
      <br><br>
      <table class="table table-hover table-dark">
          <thead>
            <tr>
              <th style="text-align:center">Product Category</th>
              <th style="text-align:center">Total Product</th>
            </tr>
          </thead>
          <tbody>
          {% for category in categories %}
            <tr>
              <td style="text-align:center">{{category.ProductCategory}}</td>
              <td style="text-align:center">{{category.product_count}}</td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>

    <div class="col-8">
      <!-- Product List -->
      <h4>Products</h4> 
      <hr>
      <a
          class="btn btn-primary btn-sm btn-block"
          href="{% url 'IMS-product_register' %}"
          >Register Product</a
      >
      <br><br>
      <table class="table table-hover table-dark">
          <thead>
            <tr>
              <th style="text-align:center">Product Name</th>
              <th style="text-align:center">Product Category</th>
              <th style="text-align:center">Description</th>
              <th style="text-align:center">Image</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {% for product in products %}
            <tr>
              <td style="text-align:center">{{product.ProductName}}</td>
              <td style="text-align:center">{{product.ProductCategory}}</td>
              <td style="text-align:center">{{product.ProductDescription}}</td>
              <td style="text-align:center">
                {% if product.ProductImage %}
                  <img class="rounded-circle article-img" src = "{{ product.ProductImage.url }}" alt = "{{ product.ProductName }}" height="100">
                {% else %}
                  <p></p>
                {% endif %}
                </td>
              <td>
                <a 
                  class="btn btn-primary btn-sm btn-block"
                  href="{% url 'IMS-product_detail' product.id %}"> Detail</a
                >
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
</div>
{% endblock %}