{% extends 'IMS/base.html' %}

<!-- Load Crispy Forms -->
{% load crispy_forms_filters %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Invoices List -->
                <h4>Sold Good Invoices</h4> 
                <hr>
                <a
                    class="btn btn-primary btn-sm btn-block"
                    href="{% url 'IMS-sinvoice_register' %}"
                    >Register Invoice</a
                >
                <br><br>
                <table class="table table-hover table-dark">
                    <thead>
                      <tr>
                        <th style="text-align:center">ID</th>
                        <th style="text-align:center">Customer Name</th>
                        <th style="text-align:center">Sold Date</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for invoice in invoices %}
                      <tr>
                        <th scope="row" style="text-align:center">{{invoice.id}}</th>
                        <td style="text-align:center">{{invoice.Customer}}</td>
                        <td style="text-align:center">{{invoice.SoldDate}}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
              </div>

          <div class="col">
            <h4>Sold Good Details</h4>
            <hr>
            <form action="" method="post">
              {% csrf_token %}
              {{ detail_form | crispy }}
              <br>
              <input class="btn btn-sm btn-primary" type="submit" name="Submit" />
            </form>
        </div>
        </div>
      </div>
{% endblock %}